In [1]:
#Import pandas library
import pandas as pd

In [2]:
#Insert Data into jupyter notebook using pandas

data = pd.read_csv("TV_Final.csv")

In [3]:
data.head(10)

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
0,TOSHIBA,Ultra HD LED,55,37999,54990,VIDAA,4.3
1,TCL,QLED Ultra HD,55,52999,129990,Android,4.4
2,realme,HD LED,32,13999,17999,Android,4.3
3,Mi,HD LED,32,14999,19999,Android,4.4
4,realme,HD LED,32,12999,21999,Android,4.3
5,OnePlus,HD LED,32,15999,19999,Android,4.3
6,OnePlus,Full HD LED,43,25999,29999,Android,4.3
7,TCL,Ultra HD LED,65,57999,119990,Android,4.2
8,Mi,Full HD LED,40,21999,29999,Android,4.3
9,realme,Ultra HD LED,43,26999,32999,Android,4.3

In [4]:
data.tail(10)

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
902,SONY,Full HD LED,43,53423,53423,Linux,4.4
903,SONY,Full HD LED,40,29999,49900,Linux,4.4
904,SONY,HD LED,32,25990,31990,Linux,4.4
905,SONY,Full HD LED,32,21223,33900,Linux,4.5
906,SONY,Ultra HD LED,49,54999,114900,Linux,4.6
907,SONY,Full HD LED,43,44999,57900,Linux,4.4
908,SONY,Full HD LED,40,41499,51900,Linux,4.6
909,SONY,Ultra HD LED,65,149990,184990,Linux,4.3
910,SONY,HD LED,32,32900,32900,Linux,4.4
911,SONY,Full HD LED,43,56900,56900,Linux,4.6

In [7]:
#Menampilkan informasi column, non_null, dan tipe setiap kolom
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             912 non-null    object
 1   Resolution        912 non-null    object
 2   Size              912 non-null    int64
 3   Selling Price     912 non-null    int64
 4   Original Price    912 non-null    int64
 5   Operating System  901 non-null    object
 6   Rating            692 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 50.0+ KB

In [11]:
#Menunjukkan data yang NaN
data.isnull().sum()

Brand                 0
Resolution            0
Size                  0
Selling Price         0
Original Price        0
Operating System     11
Rating              220
dtype: int64

In [33]:
#Menampilkan semua unique values disetiap kolom
for column in data.columns:
    print(" ")
    print("Unique values from", column, 'is ', data[column].unique())

Unique values from Brand is  ['TOSHIBA' 'TCL ' 'realme ' 'Mi ' 'OnePlus' 'Hisense' 'LG '
 'MarQ by Flipkart' 'iFFALCON by TCL' 'Coocaa ' 'SAMSUNG' 'Infinix' 'Vu'
 'Nokia ' 'Thomson' 'SONY ' 'KODAK ' 'MOTOROLA' 'PHILIPS' 'Acer'
 'Blaupunkt' 'Adsun' 'T-Series' 'Panasonic' 'Micromax' 'Sansui ' 'Croma '
 'Candes ' 'Dyanora' 'Haier ' 'Onida' 'RGL ' 'Lloyd ' 'LumX ' 'Onix '
 'IMPEX ' 'BPL ' 'CloudWalker' 'Oxygen ' 'Power Guard' 'Akai ' 'VG '
 'Sun King' 'Compaq ' 'HUIDI ' 'Intex ' 'DETEL ' 'JVC' 'G-TEN ' 'Skyworth'
 'Maser ' 'Sanyo ' 'MURPHY ' 'Samsung' 'Dektron' 'Sharp ' 'KRISONS'
 'Weston ' 'AISEN  ']

Unique values from Resolution is  ['Ultra HD LED' 'QLED Ultra HD' 'HD LED' 'Full HD LED' 'HD Plasma']

Unique values from Size  is  [55 32 43 65 40 50 70 24 42 58 49 39 48 75 85 31 28 20 22 21 52 46 60 47
 19 38 17]

Unique values from Selling Price is  [ 37999  52999  13999  14999  12999  15999  25999  57999  21999  26999
  27999  36999  35999  15499  89999  17499  45999   9999  31999  32999
  33999  22499  10999  12499  24999  38990  42999  33490  20499  41999
  11999  46999  31000  39999   8499  58999  49999  40999  42990  34999
  44999  25490  19499  18490  51990  20999  43490  38999  54999  16290
  29999  76999  16499  18999  34499  55990  53999  20880  19999  28999
  22999   8699  84999  68999  56999  29990  44900  30999  36580  56720
   9990  17999  55999  63999  23999  65999  31499  27190  24057  73990
  13299  36990  59990  19890  46799  41900  41349  67990  21600 121990
  66999  83599 128999  75099  73999  10990  57989 129999  84990  45400
   7990 137490  29900  14339 146999  54990  64999  28401  27490  43599
  76197 159500  23990  47499  46969 144790  22200  55790  89390  46590
 103990  85990 318700  44870  57200 139999  18499 169900 102290 199999
  99999 155879 279990  64299 199491 224999 104900  36499 144990 128100
  55499  42490  63990 163738 113999  28240 295900 469999  62738 259999
 249999  77990 149999  22990  93999  53200 148990  49990 262999  26374
  60291 119990 294900  94990  11499 164999  74990  53199 169990 124999
 385099  11299 179900  62900  80799  64599 470900 129990  61890 199990
 204900  26990  64990 314900  69200  74999 109999  16999  61999  64499
  81999  28399  89990  21990  59700 269999 239999 241900 122299 179999
 258999 112100  21499  38899  62980  89978  50499  86091 118900  81990
 129900  64900  50990 114999  43999 125900  15990  80990 274900 324990
  69990  45785 121999  14990 159990 156990  44990 162900 145900  27599
  28690  89850 349999 139990 142499 167199  29079 120989  31990 105990
 154900  72715 144900 229000  15000  29490 122290 284900  97990  15200
  46899  45700 146900  40000  50490   7999  19599 219990  35990  59999
  47990 189999  86890  69744  13499  20990  90314  30990  23989  23000
  72940  24990  19490   6799  68990 174999  39000 104999 149900  30490
  18990  77900 136500  21078  16990  48900 103353  29790   7499  18450
   9799  15290  19800  11990  69590  35199  99990  18590  18290  18689
  34990  28990  26900 191492  52890  27039  79990 229900  16485  62490
  39290  46345  13300  34900  92500  45000 499990  36890  53499  47999
  51999  38356  12990  14023  43751  37319 149990  40599  78999  29950
  37890  60999  36514  47249  27889 102890  19039  13945  20738  25590
  36106  24726   8659  36379  15210  42000  50999 134993   6498  82493
  28311  66104  14771  10499  19929  27990  37254 115658 152999  13933
  14495 140791  43477  19489  19603  36900  48999   8900  50000  32994
  12699  10840   6999   5200  37900  15552  12453  13990  32527  33000
   5792  84500  20126   5490  37396  17500  29800  20776  17989   6765
   7833  27399  62999  90104  24930  16825   6599  34639  13994 116990
  29199  87500  63900 168900  47900 178900 145500 210900 160500 189900
 267000 218900 249990 112000 246900  70556  62743 131825  58988 105000
 178500  68000  95007  49000  77277  16490 250000 102325  67260 159589
  57990  30743 210000  35700 385500 142237 419900 190000  70500  69999
  13699  28499  23349  15699  33950  17990   8990  55947   5999   5499
   7399  11300  29399  38590  21599  54499  47899   7739   9499 113990
  11390  60859  49900  29499  23688  55000  25990 114990  11000   8103
  13200   7290  65900  91990  65990  66990  71990   6179   5364   7490
  16799  62899   8359  33190  56990  19790  30001  43259  55890  33459
   6649  15650   4849   5459  11290  37990  40990 116000  26360  96999
   6166   6940   8679 151990 449900   8220  10500  79290 118641  83491
  53423  21223  41499  32900  56900]

Unique values from Original Price is  [ 54990 129990  17999  19999  21999  29999 119990  32999  34999  49990
  41999  21990  31999  69999  39990  49999  70990  62990  27999  36990
  14990  54900  40990  24999  59999  79990  85000  48999  39999  40999
  10499  65000  59990  47990  45999  46999  44990  62999  29900  42999
  47999  21499  20900  64990 106990  14499  18499  71400 109990  44900
  89990  73990  69990  79999  69900  20999  54999  19990  16400  51990
 129900  25999  29990  37999  48990  76900 126990  70499  24275  16999
  66900 119900  75990 112900  75000  55999  53900  39900  72900  12990
  21799  42990  63999 159990  36000  26990  50990 115399  19900  24990
  33999  45190  94900  27990  52900 109900  57990  74900  22900 222900
 169900  89900  99990  20000  73900 229900 134900  56900  15000 299990
  22990 169990  93990  30990  33990  88900  23999 244900  33000  75343
 259990  17990 103990 116900 399900  48900  14999  84990 254990 239900
 229990 139900  15999 349990 166990 226990 399990  86900 299900 279900
 104900  41990 199990 209990  91990 211900  75999 179900  43990 295900
 529900  82990 499900 409990  46990  77990  18990 239999 259900  62900
 364990 379990  29800  64900  58000 294900  20990  56945 449900 234900
 264990  35990 254900 133900 177990 549990  22690  18999  46050 470900
 155990  79400 284990 204900 102990 314900  69200 153990 164900  94990
  99900 149990  28400 124990  46900  82400 339990 394900 241900 209900
 329900  74990 224900 419900 179990  45900  80000  65490 118900  22500
 189990 115990 105990 125900  80990 219990  67990  67069 274900 324990
 143900  25000  77900 266900 156990  78000 145900  28690  89850 499990
 199900 269900 120990  40000 162900  45990 350000 154900  92900  82500
 359990  32290 284900 135900 139989  15200  31990 146900  65900  73000
  10999  25900 257900 163900  50000  94499  93500  15499  38900  19499
  52990  30000  23990  51000 127445  35500  38790  49998 110690 239990
 149900  38990  26000 136500  16990 110900  25490  18599  29790  25990
  29290  33330 101900  26900  38490  32990  23890  89000  60000 110990
  31090  84900  28990  26957  27000  90990  35999 364900  15990  70900
  32039 119999  58990  50999  52000  92500  69000  61900  49900  54050
  55990  58900  25075  26999  35890  21900 172990  26350  37990  99999
 130000  12490   7999  27900  11990  42000  76990  10590  30900  19000
  66990  15900  32175  43476  31000  61990 212490  36663  14500  55000
  44999  36419  26490  36900  10000   9420  37900  16900  38999  13500
  43850  84500  40900  34900  23900  59900   9990  23190  79900  61600
  46165  13490  18000  27400 111900 178900  45674  28900 116990  87500
 168900 145500 210900 160500 139990 189900 267000 218900 249990 112000
  45000 246900  71900 105000 178500  68000 117900 103900 250000  50900
 210000  35700 385500 190000  70500  34990  22999  43999  34950  13990
  31900  11000  22000  32000  28000  53990   8999   9999  58890  65990
  38642  16599  36999 113990  18190  34600 109000  21000  12999   6999
 114990  39000  17900  11499  16499  29499  71990  13390  10990  61999
  56990  19790  26349   8990  12000 116000  20500  51999 133990  15490
 151990  35350  53290  72590  70290  14900 183249  99913  53423  33900
 114900  57900  51900 184990  32900]

Unique values from Operating System is  ['VIDAA' 'Android' 'Linux' 'Unknown' 'Tizen' 'WebOS' 'HomeOS' 'FireTV OS']

Unique values from Rating is  [4.3 4.4 4.2 4.1 4.5 3.9 4.  3.6 4.7 3.8 4.8 4.6 0.  3.5 5.  2.7 3.7 3.
 4.9 3.4 2.8 2.4 2.  3.3 2.5 2.6]

### Dikarenakan pada kolom "Operating System" dan "Rating" terdapat data NaN, maka data tersebut perlu diganti

In [35]:
#Mengganti data NaN Operating System menjadi Unknown
data["Operating System"] = data["Operating System"].fillna("Unknown")

In [36]:
#Melakukan validasi apakah penggantian data telah berhasil
data["Operating System"].unique()

array(['VIDAA', 'Android', 'Linux', 'Unknown', 'Tizen', 'WebOS', 'HomeOS',
       'FireTV OS'], dtype=object)

In [37]:
#Mengganti data NaN Rating menjadi 0
data['Rating'] = data['Rating'].fillna(0)

In [38]:
#Melakukan validasi apakah penggantian data telah berhasil
data['Rating'].unique()

array([4.3, 4.4, 4.2, 4.1, 4.5, 3.9, 4. , 3.6, 4.7, 3.8, 4.8, 4.6, 0. ,
       3.5, 5. , 2.7, 3.7, 3. , 4.9, 3.4, 2.8, 2.4, 2. , 3.3, 2.5, 2.6])

In [39]:
#Melakukan validasi ulang apakah masih ada data NaN atau tidak
data.isnull().sum()

Brand               0
Resolution          0
Size                0
Selling Price       0
Original Price      0
Operating System    0
Rating              0
dtype: int64

In [40]:
#Melihat apakah ada data yang terduplikasi atau tidak
data.duplicated().sum()

30

In [41]:
#Melihat semua data yang terduplikasi
data.loc[data.duplicated]

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
214,LG,Ultra HD LED,43,43599,59990,WebOS,0.0
360,Candes,Full HD LED,40,15999,29990,Android,4.1
373,Candes,HD LED,24,9999,17990,Android,4.1
377,Candes,Full HD LED,40,15999,29990,Android,4.1
434,Candes,Full HD LED,40,15999,29990,Android,4.1
496,Candes,HD LED,24,9999,17990,Android,4.1
498,T-Series,HD LED,40,19999,28990,Android,0.0
501,T-Series,HD LED,40,19999,28990,Android,0.0
540,TCL,Ultra HD LED,50,33999,62990,Android,4.4
634,Candes,Full HD LED,40,15999,29990,Android,4.1
638,Candes,HD LED,24,9999,17990,Android,4.1
666,TCL,Ultra HD LED,65,159990,159990,Android,0.0
667,Panasonic,HD LED,32,26999,29900,Android,4.2
668,Croma,HD LED,32,13994,20000,Android,3.6
669,TCL,Ultra HD LED,55,116990,116990,Android,0.0
710,LG,Ultra HD LED,49,102325,119900,WebOS,0.0
711,LG,Full HD LED,49,67260,74900,WebOS,3.6
712,LG,Ultra HD LED,55,159589,189900,WebOS,3.9
713,LG,HD Plasma,50,57990,57990,WebOS,0.0
714,LG,Full HD LED,60,210000,210000,WebOS,4.4
715,Panasonic,Full HD LED,43,30743,50900,Android,4.3
730,Acer,HD LED,32,14999,22990,Android,3.9
742,Akai,Ultra HD LED,65,72940,124990,Android,0.0
744,Akai,Ultra HD LED,55,46345,59990,Android,0.0
795,Lloyd,Full HD LED,43,34990,48990,Linux,0.0
796,Lloyd,Ultra HD LED,50,44999,84990,Linux,4.3
797,Lloyd,HD LED,32,18689,26957,Linux,0.0
859,RGL,Full HD LED,21,5200,9420,HomeOS,3.9
892,Sansui,HD LED,32,15290,20990,Linux,0.0
899,SONY,Full HD LED,43,44900,44900,Linux,4.6

### Dikarenakan data yang terduplikasi tidak "Terduplikasi seperti biasanya", dan data adalah data unique maka tidak apa apa

In [43]:
data = data.to_csv("Clean_Data.csv")